# symfony/framework-bundle
/.env.local
/.env.*.local
/public/bundles/
/var/
/vendor/

# symfony/webpack-encore-bundle
/node_modules/
/public/build/
/public/uploads/
npm-debug.log
yarn-error.log

# SQL
migrations/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
Thumbs.db
.DS_Store

##Logs
*.log

# Environment
#.env
.env.local
.env.*.local

# Composer
composer.lock

# Custom
.cache/
.tmp/
var/
vendor/
uploads/
