<form method="POST" action="{{ path('change_app_language') }}">
    <label for="app-language-choice">{{ "profile.app-language"|trans }}</label>
    <select name="choice" id="app-language-choice" onchange="this.form.submit()">
        {% for code, name in availableAppLanguages %}
            <option value="{{ code }}" {% if languageManager.appLanguage == code %}selected{% endif %}>
                {{ name }}
            </option>
        {% endfor %}
    </select>
</form>
