<form method="POST" action="{{ path('change_cards_language') }}">
    <label for="cards-language-choice">Cards Language</label>
    <select name="choice" id="cards-language-choice" onchange="this.form.submit()">
        <option value="fr" {% if languageManager.cardsLanguage == "fr" %}selected{% endif %}>
            Français
        </option>
        <option value="en" {% if languageManager.cardsLanguage == "en" %}selected{% endif %}>
            English
        </option>
        <!-- <option value="jp">日本語</option> -->
    </select>
</form>
