<form method="POST" action="{{ path('change_cards_language') }}">
    <label for="cards-language-choice">Cards Language</label>
    <select name="choice" id="cards-language-choice" onchange="this.form.submit()">
        {% for code, name in availableLanguages %}
            <option value="{{ code }}" {% if languageManager.cardsLanguage == code %}selected{% endif %}>
                {{ name }}
            </option>
        {% endfor %}
    </select>
</form>
