.header-title {
    display: flex;
    justify-content: center;
}

.header-title p {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    padding-left: 12px;
    padding-right: 12px;
    border: 1px solid var(--border);
    border-radius: 12px;
    color: var(--text-primary);
    font-size: 1rem;
    background-color: var(--accent-blue-light);
    cursor: default;
}
