.header-box {
    display: flex;
    position: relative;
    align-items: center;
    background-color: var(--color-bg-white);
    padding: 20px;
    gap: 20px;
}

.header-title {
    flex: 1;
    text-align: center;
    color: var(--color-text-primary);
    font-weight: 600;
}
