.header-box {
    display: flex;
    position: relative;
    align-items: center;
    background-color: #FFFFFF;
    padding: 20px;
    gap: 20px;
}

.header-title {
    flex: 1;
    text-align: center;
    color: #0A0A0A;
    font-weight: 600;
}
