html, body {
    height: 99%;
    font-family: "Sora", sans-serif;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
}

main {
    flex: 1;
}

/* Disable debug toolbar */
.sf-toolbar {
    display: none !important;
}
