html, body {
    height: 99%;
    font-family: "Sora", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #F9F9F9;
}

main {
    flex: 1;
}

/* Disable debug toolbar */
.sf-toolbar {
    display: none !important;
}
