<footer>
    <div class="menu-box">
        {% for button in buttons %}
            <a href="/{{ button.route }}" class="menu-link">
                <button class="menu-button {% if button.route == currentPage %}active{% endif %}">
                    <img src="{{ button.icon }}" alt="{{ button.label }}">
                </button>
            </a>
        {% endfor %}
    </div>
</footer>
