{% extends "base.html.twig" %}

{% block content %}
    <h1>Hello from {{ "dashboard.title"|trans }}</h1>
    {% if app.user %}
        <h2>Welcome {{ app.user.username }}</h2>
        <h3>Your mail address : {{ app.user.email }}</h3>
    {% endif %}
{% endblock %}
