{% extends "base.html.twig" %}

{% block content %}
    <h1>Features implemented</h1>
    <ul>
        <li>Main pages</li>
        <li>Burger menu on desktop</li>
        <li>Bottom menu on mobile</li>
        <li>Search Pokémon sets</li>
        <li>Display Pokémon cards from sets</li>
        <li>Display cards responsively</li>
        <li>Base graphical appearance</li>
        <li>Add global app language variable</li>
        <li>Add global cards language variable (not effective)</li>
    </ul>
{% endblock %}
