{% extends "base.html.twig" %}

{% block content %}
    <h1>Features implemented</h1>
    <ul>
        <li>Main pages</li>
        <li>Burger menu on desktop</li>
        <li>Bottom menu on mobile</li>
        <li>Search Pokémon sets</li>
        <li>Display Pokémon cards from sets</li>
        <li>Display cards responsively</li>
        <li>Base graphical appearance</li>
        <li>Manage app language</li>
        <li>Manage cards language</li>
        <li>Pop-Up if other language than English is selected for cards</li>
    </ul>
{% endblock %}
