<form method="post" action="">
    <label for="license"></label>
    <select name="license" id="license" onchange="this.form.submit()">
        <option value="">{{ "search.search-license"|trans }}</option>

        <!-- Pokémon -->
        <option
            value="pokemon"
            {% if licenseSelected == "pokemon" %}selected{% endif %}>
            Pokémon
        </option>

        <!-- Magic -->
        <!-- <option
            value="magic"
            {% if licenseSelected == "magic" %}selected{% endif %}>
            Magic
        </option> -->

        <!-- Yu-Gi-Oh -->
        <!-- <option
            value="yugioh"
            {% if licenseSelected == "yugioh" %}selected{% endif %}>
            Yu-Gi-Oh
        </option> -->
    </select>
</form>
